#blog-feed {
    background-color: #f4f4f4;
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
}
#blog-feed h3 {margin: 10px 0;}
#blog-feed span { display:block;  padding: 10px 5px;}
#blog-feed span a {text-decoration: none;  color: teal; position: relative; }
#blog-feed span a:before {
    content: '\e844';
    font-family: fontello;
    margin-right: 10px;
}
#blog-feed span a:hover {color: #606060;}